<p class="note">
  Your deployment of Angular 2 Seed worked perfectly!
  Click <em>about (above)</em> to get your reward!
</p>

<table width="100%">
	<tr>
		<td width="50%">
			<div [ng2-highcharts]="chartOptions" class="graph"></div>
		</td>
		<td width="50%">
			<div [ng2-highcharts]="chartBar" class="graph"></div>
		</td>
	</tr>
	<tr>
		<td width="50%">
			<div [ng2-highstocks]="chartStock" class="graph"></div>
		</td>
		<td width="50%">
			<div [ng2-highmaps]="chartMap" class="graph"></div>
		</td>
	</tr>
</table>